<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="rascal_eclipse.rascalIDE">
      <ideProvider
            builderClass="org.rascalmpl.core.ide.RascalCodeIDEBuilder"
            summaryClass="org.rascalmpl.core.ide.RascalCodeIDESummary">
      </ideProvider>
   </extension>
</plugin>
